<!DOCTYPE html>

<html>

<head>
<title><%= @title %></title>
</head>
<body>


<h1>Welcome to my blog!</h1>
<ul>

  <li>
    <h3><a href="#">Example</a></h3>
    <p></p>
  </li>

</ul> 


</body>

</html>
