<% i=1 %>
<% @post.each do |comments| %>
<div id="comment-id-<%= "#{i}" %>" class="edit-<%= "#{i}" %>"><%= comments.comment %></div>
<a class="pure-button comment-button edit-<%= "#{i}" %>">Start editing comment</a>
<% i = i + 1 %>
<% end %>

