<% @posts.each do |post| %>
  <li>
    <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
    <p><%= post.body %></p>
  </li>
<% end %>

<a class="pure-button" href="/posts/new">New post</a>

<a class="pure-button" href="/">Back</a>

