* {padding:0; margin:0;}

body {
  background: #FFF;
  color: #1B1B1B;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#wrapper { width: 1024px; margin: 0 auto; background-color:white;}

container {
  margin: 0 auto;
  width: 1024px;
}
#header {
  margin: 0;
  text-align: center;
}

#footer {
  width:1024px;
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  text-align: center;
  border-top: 3px solid #000;
}

.pure-button { margin-top:1em; margin-bottom:1em; }

.flash-error {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: #EAADB3;
  color: #903;
  border: 1px solid #903;
}

.flash-success {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: #9EF9B0;
  color: #369C4B;
  border: 1px solid #369C4B;
}

th, td { padding:10px; }