* {padding:0; margin:0;}

body {
  background: #FFF;
  color: #1B1B1B;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#wrapper { width: 1024px; margin: 0 auto; background-color:white;}

container {
  margin: 0 auto;
  width: 1024px;
}
#header {
  margin: 0;
  text-align: center;
}

#footer {
  width:1024px;
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  text-align: center;
  border-top: 3px solid #000;
}

.flash { color:red; #FEFEFE}

.pure-menu-selected { background: none repeat scroll 0% 0% rgb(238, 238, 238); }

.pure-button { margin-top:1em; margin-bottom:1em; }

.comment { border: 1px solid rgb(229, 229, 229);
display: block;
padding: 0.3em 0px;
margin-bottom: 10px;
}

#comments div { white-space: pre;
-webkit-border-radius: 90px;
-moz-border-radius: 90px;
border-radius: 90px;
border: 2px #D6D6D6 solid;
padding-left: 40px;
 }

.flash-error {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: #EAADB3;
  color: #903;
  border: 1px solid #903;
}

.flash-success {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: #9EF9B0;
  color: #369C4B;
  border: 1px solid #369C4B;
}